* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: montserrat, Helvetica, sans-serif;
  box-sizing: border-box;
}
/* fundo */
body {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #f78fb3, #ffb8b8, #ff3838e0);
}
/* imagem logo */
.login-form img {
  margin: 0;
  top: 30%;
}
/* formulario de login */
.login-form {
  width: 360px;
  background: #f1f1f1;
  height: 580px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-form-cadastro {
  width: 360px;
  background: #f1f1f1;
  height: 710px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.img-cadastro {
  bottom: 10%;
  padding: 10%;
  margin-left: 10%;
}

/* formulario texto imagem */
.login-form h1 {
  text-align: center;
  margin-bottom: 60px;
}
/* formulario de email e senha */
.txtb {
  border-bottom: 2px solid #beb3b3;
  position: relative;
  margin: 30px 0;
}

.txtb input {
  font-size: 15px;
  color: rgb(12, 12, 12);
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #8d8b8b;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}

.txtb span::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  transition: 0.5s;
}

.focus + span::before {
  top: -5px;
}

.focus + span::after {
  width: 100%;
}

.logbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg, #ee605f, #ee5f5fa6, #ee605f);
  background-size: 200%;
  color: white;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.logbtn:hover {
  background-position: right;
}

.bottom-text {
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}
